<script context="module">
     export const TEMPLATE = {};
</script>

<script>
    import { setContext, onMount, onDestroy } from 'svelte';
    import { current_component } from 'svelte/internal';
    import { ListView } from 'tns-core-modules/ui/list-view';
    import { ElementNode } from 'svelte-native';
    import { cleanProps } from './util.js'
    export let Template = null;
    export let items = [];
    let dirtyProps
    let listView;
    let props;
    $: props = cleanProps(dirtyProps);

    let outer_events = current_component.$$.callbacks;

	function proxyEvents(node, events) {
		let tooltip = null;
       
        let registeredEvents = [];
        for(let type of Object.keys(events)) {
            let thisType = type;
            let handler = (ev) => {
                let callbacks = events[thisType];
                if (callbacks) {
                    callbacks.slice().forEach(fn => fn(ev));
                }
            } 
            node.addEventListener(type, handler);
            registeredEvents.push({type, handler});
        }
		
		return {
			destroy() {
                for(let {type, handler} of registeredEvents) {
				    node.removeEventListener(type, handler);
                }
			}
		}
	}

    setContext(TEMPLATE, {
        setTemplate: template => {
            Template = template;
        }
    })

    onMount(()=> {
        listView.nativeView.on(ListView.itemLoadingEvent, (args) => {
           
            let item = items[args.index]
            if (!item) {
                console.log("Got request for item at index that didn't exists", items, args.index, args.view ? args.view.text : null)
            }
            if (!args.view) {
                let dummy = new ElementNode('fragment');
                let thisView = new Template( {
                    target: dummy,
                    props: {
                        item: item
                    }
                });
                let nativeEl = dummy.firstElement().nativeView;
                nativeEl.__SvelteComponent__ = thisView;

                // Create label if it is not already created.
                args.view = nativeEl;
            } else {
                let component = args.view.__SvelteComponent__.$set({ item: item })
            }
        });
    })


</script>

<svelte:options bind:props={dirtyProps} />
<listView {...props} items={items} bind:this={listView} use:proxyEvents={outer_events}>
    <slot></slot>
</listView>