<page xmlns="tns" >
    <actionBar title="Test App"></actionBar>
    <stackLayout>
        <button on:tap="{nav}">Go to Todos</button>
        <button on:tap="{() => toggle = !toggle}">Toggle a Label</button>
        {#if toggle}
            <label class="test-label" transition:fade="{{duration: 400}}" >This is a green test label</label>
        {/if}
    </stackLayout>
</page>

<style>
    .test-label {
        color: green;
    }
</style>

<script>
    import { fade } from 'svelte/transition'
    import Todos from './Todos.html'
    import { navigate } from 'svelte-native'
    let toggle = false;

    const nav = () => {
        navigate({
            page: Todos,
            animated: true,
            transition: { name: "slide" }
        })
    }
</script>